.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: inherit;
    width: 100%;
}

.title {
    font-weight: 700;
    color: var(--white);
}
.date {
    color: var(--white);
}

.loading {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 30px;
}
