:root {
    --font: 'Open Sans', sans-serif;
    --primary-color: #1271ed;
    --secondary-color: #51cff3;
    --text-primary-color: #000000;
    --text-secondary-color: #5b5b5e;
    --white-color: #ffffff;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--font);
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
}
